<template>
  <div class="max-w-sm mx-auto bg-white shadow-md overflow-hidden sm:max-w-sm h-screen" style="background-color: #e8fafc">
    <div class = "h-full w-full relative bg-no-repeat bg-cover" :style="{ backgroundImage: `url(${image})`}">
      <div class="sticky w-full shadow-md rounded-bl-xl rounded-br-xl bg-white">
        <div class="w-full h-2 bg-green-900"></div>
        <div class="w-full flex">
          <div class="w-3/4 py-8">
          </div>
          <div class="w-1/4">
            <div class="m-auto text-center p-5"><a class="text-blue-500 hover:underline" href="#">Login</a></div>
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 w-full p-5 bg-white rounded-tl-xl rounded-tr-xl" style="box-shadow: -3px -5px 5px -5px #aaa">
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Kostenlos Registeren
        </button>
      </div>
    </div>
  </div>

</template>

<script>
import bikeImg from 'assets/download1.png'
export default {
  data () {
    return {
      image: bikeImg
    }
  }
}
</script>
